/*ROOT-----------------------*/
html {
  font-size: 18px;
}

/*NAV---------------------------*/
#nav {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
  font-family: Helvetica;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: cadetblue;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 2rem;
  list-style: none;
}

li {
  display: inline-block;
}

li:nth-child(2) {
  margin-right: 2rem;
  margin-left: 2rem;
}
/*HEADER------------------------------*/

#header {
  height: 30rem;
  width: 100%;
  background: url("imgs/glasses-bg.png");
  background-size: cover;
}

#header h3 {
  width: 429px;
  float:right;
  margin-top: 10rem;
  margin-right: 5rem;
  padding: 1.5rem 3rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: #fff;
}
/*ICONS----------------------------------*/
#icons {
    width: 960px;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.iconinfo {
  height: 8rem;
  width: 5rem;
  text-align: center;
}

.iconinfo:nth-child(2) {
  margin: 0 6rem;
}

.iconinfo img {
  width: 5rem;
}

#iconpaper{
  width: 3.5rem;
}

/*COMPANY-----------------------------*/
#company {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.comp-info {
  width: 35%;
  font-family: Helvetica;
}

.comp-info:last-child {
  margin-left: 5%;
}

.comp-info h4 {
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  background-color: cadetblue;
}

/*FOOTER-----------------------------------*/
#footer {
  width: 960px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  background-color: azure;
}

#footer img {
  height: 1.5rem;
  align-items: center;
  margin-right: 1rem;
}


/*HALF SCREEN------------------------------*/
@media only screen and (min-width: 481px) and (max-width:768px) {
  #nav {
    width: 100%;
  }

  #header {
    height: 22rem;
  }

  #header h3 {
    width: 290px;
    font-size: 1.33rem;
    padding: 0.75rem 2rem;
    margin-top: 14rem;
    margin-right: 7rem;
  }

  #icons {
    width: 100%;
  }

  #company {
    width: 100%;
  }

  #footer {
    width: 517px;
  }
}

/*Break point 1----------------------------*/
@media only screen and (max-width: 640px) and (min-width: 480px){
  body {
    color: red;
  }
}

/*MOBILE SCREENS---------------------------*/
@media only screen and (max-width: 480px){
  #nav {
    width: 100%;
    flex-direction: column;
  }

  #logo {
    position: relative;
    left: -45px;
  }

  #nav ul {
    display: flex;
    margin-top: 10px;
  }

  #header {
    height: 17rem;
    text-align: center;
    margin-bottom: -10px;
  }
  #header h3 {
    width: 100%;
    margin: 9rem auto;
    padding: 0.5rem;
    font-size: 1rem;
  }

  #icons {
    width: 100%;
    margin: -10px 0;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
  }

  #company {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comp-info {
    width: 280px;
    margin: 0;
  }
/*corrections for the last childs position*/
  .comp-info:last-child{
    margin: 10px 2px 0 0;
  }

  .comp-info h4{
    width: 100%;
  }

  #footer {
    width: 250px;
  }
}
