/*ROOT-----------------------*/
html {
  font-size: 18px;
}

/*NAV---------------------------*/
#nav {
  width: 960px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
  font-family: Helvetica;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: cadetblue;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 2rem;
  list-style: none;
}

li {
  display: inline-block;
}

li:nth-child(2) {
  margin-right: 2rem;
  margin-left: 2rem;
}
/*HEADER------------------------------*/

#header {
  height: 30rem;
  width: 100%;
  margin-top: -1rem;
  background: url("imgs/glasses-bg.png");
  background-size: cover;
}

#header h3 {
  width: 429px;
  float:right;
  margin-top: 10rem;
  margin-right: 5rem;
  padding: 1.5rem 3rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: #fff;
}
